@media (min-width: 992px){
header.masthead {
    padding-top: calc(6rem + 106px);
    padding-bottom: 6rem;
}
}
header.masthead {
    padding-top: calc(6rem + 72px);
    padding-bottom: 6rem;
}
.bg-primary {
    background-color: #18bc9c!important;
}
.text-white {
    color: #fff!important;
}
.text-center {
    text-align: center!important;
}